.board {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 4px solid black;
    background-color: rgb(0, 0, 0);
  }
  
.board div {
    margin-left: 8%;
    margin-top: 15px;

    width: 85%;
    height: 75%;
  }
  .board div2 {
    margin-left: 8%;
    margin-top: 15px;

    width: 85%;
    height: 75%;
  }
  
  
  .board div:nth-child(odd) {
    background: #e22525;
    border-radius: 50%;


  }
  
  .board div:nth-child(even) {
    background: #e22525;
    border-radius: 50%;

  }

  
  #game {
    border: 4px solid black;
  }