@font-face {
  font-family: "cartoon";
  src: url("Star\ Cartoon.otf") format("truetype");
}

h1{
  margin :5px;
  color: #ffffff;
}

h2{
  /*texte centre victoire*/
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 500%;
  text-align: center ;
  opacity: 1;
  color: #ffffff;
}

h3{
  font-size : 13px;
  font-family : "cartoon",sans-serif;
}

#buttons{
    margin: 0px auto;
    position: absolute;
    z-index: 9999;
}

.colonne{
    
    width : 110px;
    height: 830px;
    margin-top: 20px;
    background-color : transparent;
    border-color:transparent;
}

body{
    background-color: rgb(34, 33, 33);
  }
  
  
  #zone-message{
    position :absolute;
    width: 300px;
    height: 150px;
    background-color: transparent;
    z-index: 10000;
  }
  



  
  .zone-jeu {
    display: flex;
    flex-direction: column;
    align-items: center; /* centre horizontalement */
    gap: 0px;              /* colle le canvas au plateau */
  }
  
  /* Ton canvas où bouge le carré */
  #game {
    background: transparent;
    display: block;
    margin-top: 20px;
  }
  /* --- Plateau 7 colonnes × 6 lignes --- */
  .board {
    position: absolute;
    width: 840px;
    height: 720px;
    margin: 0px auto;
    margin-top:142px;
  
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  
    background-color: #007cd9;
    border: 4px solid rgb(255, 255, 255);
    padding: 15px;
    box-sizing: border-box;
    z-index: 1;
  }
  
  /* --- Cases --- */
  .board div {
    width: 90%;
    height: 90%;
  
    margin: auto;
  
    border: 3px solid white;
    border-radius: 50%;
    background-color: #222121;
    z-index: 1;
  }
  
  /*STYLE JETON
  /////////////////////////////////////////////////////////////////*/
  .board div.rouge {
    background: #e22525 url("sfspider.png") center/90% no-repeat;
    border-color: white;
  }
  
  .board div.jaune {
    background: #ffe600 url("spidernoir.png") center/120% no-repeat;
    border-color: white;
  }

  .board div.booba {
    background: #ffe600 url("booba.png") center/170% no-repeat;
    border-color: white;
  }

  .board div.kaaris {
    background: #e22525 url("kaaris.png") center/120% no-repeat;
    border-color: white;
  }

  .board div.gf {
    background: #e22525 url("gf.png") center/170% no-repeat;
    border-color: white;
  }

  .board div.pgf {
    background: #ffe600 url("pgf.png") center/150% no-repeat;
    border-color: white;
  }
  /*////////////////////////////////////////////////////////////////////*/
  
  blockquote.victoire{
    /*block message victoire*/
    position: absolute;
    background-color: #2b2b2b;
    opacity: 90%;
    z-index: 1;
    
    margin-top: 16%;
    width: 44%;
    height : 35%
  }

  blockquote.zone-menu{
    border: 2px solid #000;
    border-color: white;
    display : block;
    background-color: #0c0c0c;
    position: absolute;

    margin-top: 0px;
    width: 400px;
    height: 720px;

  }

  button.btnClear{
    position :absolute;
    background-color: #6e6e6e;
    border-color: white;
    width: 100px;
    height: 50px;
    border-radius: 25%;
    z-index: 3;
  
    margin-top: 875px;
    margin-left: 735px;

  }

  button.btnAban{
    position :absolute;
    background-color: #6e6e6e;
    border-color: white;
    width: 100px;
    height: 50px;
    border-radius: 25%;
    z-index: 3;
  
    margin-top: 875px;
    margin-left: 500px;
  }

  button.btnAban2{
    position :absolute;
    background-color: #e22525;
    border-color: white;
    width: 100px;
    height: 50px;
    border-radius: 25%;
    z-index: 3;
  
    margin-top: 875px;
    margin-left: 500px;

  }


  h3.room{
    color: white;
    font-size: 20px;
  }
  button.btnTRoom{
    position :absolute;
    background-color: #181818;
    border-color: white;
    width: 150px;
    height: 100px;
    border-radius: 30%;

    margin-left: 30%;
  }

  h3.blockRoom{
    color: rgb(68, 66, 66);
    font-size: 30px;
    margin-top: 15%;
    margin-left: 3%;
  }
  blockquote.blockRoom{
    position : absolute;
    width: 700px;
    height: 400px;
    margin:center ;
    margin-top: 10%;
    z-index: 10;
    border-radius: 20%;


    background-color: pink;
  }

  button.blockbtnJoin{
    position :absolute;
    background: #6e6e6e url(recherche.png) center/25% no-repeat;

    border-color: white;
    width: 150px;
    height: 50px;
    border-radius: 25%;
    margin-left: 70%;
    margin-top: -10.5%;
  }

  input.codeRoom{
    position :absolute;
    width: 300px;
    height: 50px;
    border-radius: 25%;
    margin-left: 51%;
    margin-top: -10.5%;

    font-family: "cartoon";
    font-size: 30px;
  }

  