
body{
  background-color: rgb(34, 33, 33);
}

.board {
    margin-left: 26%;
    margin-top: 3.5%;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 4px solid black;
    background-color:	#007cd9;
  }
  
.board div {
    margin-left: 8%;
    margin-top: 15px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;

    width: 85%;
    height: 75%;
    background-color: rgb(34, 33, 33);

  }

  

  
  .board div:nth-child(32) {
    background: #e22525;
    background-image: url(sfspider.png);
    background-position: center , top;
    background-size: 90%;
    background-repeat:no-repeat ;
    border-radius: 50%;
  }
  
  .board div:nth-child(39) {
    background: #9d25e2;
    background-image: url(bouffon.png);
    background-position: center , top;
    background-size: 90%;
    background-repeat:no-repeat ;
    border-radius: 50%;
  }


  
  #game {
    border: 4px solid black;
  }